@font-face {
    font-family: 'Gotham-Book';
    src: url('../assets/fonts/Gotham-Book.eot');
    src: url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Book.woff') format('woff'),
        url('../assets/fonts/Gotham-Book.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../assets/fonts/Gotham-Medium.eot');
    src: url('../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Medium.woff') format('woff'),
        url('../assets/fonts/Gotham-Medium.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../assets/fonts/GothamBold.eot');
    src: url('../assets/fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/GothamBold.woff') format('woff'),
        url('../assets/fonts/GothamBold.ttf') format('truetype'),
        url('../assets/fonts/GothamBold.svg#GothamBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Gotham-Light';
	src: url('../assets/fonts/GothamLight.eot');
    src: url('../assets/fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/GothamLight.woff') format('woff'),
        url('../assets/fonts/GothamLight.ttf') format('truetype'),
        url('../assets/fonts/GothamLight.svg#GothamLight') format('svg');
    font-weight: normal;
    font-style: normal;
}


