<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf256b9e-ae02-4b9e-b428-daed292ce922" Alias="dineCategory" Level="1">
  <Info>
    <Name>Dine Category</Name>
    <Icon>icon-shuffle color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="26f9201d-468a-4375-b93c-824c3468eab7">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e6f0561c-abb9-412f-82b3-f00066161be3" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>