<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d8dd930-2643-4767-934d-9b10f16b9066" Alias="entertainLandingDocType" Level="1">
  <Info>
    <Name>Entertainment Landing</Name>
    <Icon>icon-box-open color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Enter Entertainment Landing Page Content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="26f9201d-468a-4375-b93c-824c3468eab7">navigationBase</Composition>
      <Composition Key="dafa5322-3c92-405b-83f9-fc9f4fcbc2b8">ultimateExperience</Composition>
    </Compositions>
    <DefaultTemplate>Entertainment</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aad9f529-e6f6-46b4-9ec6-d45c49183d94">Entertainment</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5dc1c82e-dd51-49b1-836b-2fc0d49555b8" SortOrder="0">entertainmentList</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9fff9826-cb33-402c-bc20-f7f7e73a170e</Key>
      <Name>Banner</Name>
      <Alias>entertainMainBanner</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(1400X450)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36a5dcdd-011a-46a2-9d64-ba1b1ed54a9b</Key>
      <Name>Description</Name>
      <Alias>entertainMainDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ece35311-0429-463c-9e63-11aeee937467</Key>
      <Name>Title</Name>
      <Alias>entertainMainTitle</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>