<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8cbf8c47-4060-4452-936d-e5bfb28d2173" Alias="master" Level="1">
  <Info>
    <Name>Master</Name>
    <Icon>icon-molecular color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>master</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6fd9a167-f137-4a9e-9a1d-064db117460c">master</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="073d7b37-09e6-48f5-8001-21ebc92c22a4" SortOrder="0">aboutUs</ContentType>
    <ContentType Key="3f8ea07f-8300-463e-a531-3693baef0c1f" SortOrder="1">home</ContentType>
    <ContentType Key="cf9db47d-b965-4809-8a43-770a8a3522d2" SortOrder="2">featuredLandingDocType</ContentType>
    <ContentType Key="1b39f3f8-c619-47ce-895a-8d245088927f" SortOrder="3">privacyPolicy</ContentType>
    <ContentType Key="2d389863-ecc9-41c6-9585-dbc26347041d" SortOrder="4">offerLandingDocType</ContentType>
    <ContentType Key="6f82748a-4e80-4eea-8fb6-51b54e7efffa" SortOrder="5">termsAndConditions</ContentType>
    <ContentType Key="dc45aa09-1eed-44b0-af3b-ace6738f3b3c" SortOrder="6">contactUs</ContentType>
    <ContentType Key="2767572b-e3b1-4b10-b171-9ba7de902353" SortOrder="7">eventsLandingDocType</ContentType>
    <ContentType Key="43fcfaf7-34c7-4e4c-96a2-3aa9d00bc792" SortOrder="8">leasingEnquiryDocType</ContentType>
    <ContentType Key="53e3fd89-992a-4662-b7a6-197290ea5fc6" SortOrder="9">yasIsland</ContentType>
    <ContentType Key="6d8dd930-2643-4767-934d-9b10f16b9066" SortOrder="10">entertainLandingDocType</ContentType>
    <ContentType Key="6d1f39c4-fc00-4509-9197-540c34d0bfe6" SortOrder="11">blogLandingDocType</ContentType>
    <ContentType Key="f3dee073-9594-4814-83d8-60827cdd59d8" SortOrder="12">newsLandingDocType</ContentType>
    <ContentType Key="05675c2d-8fd2-4028-a423-010a0e07c693" SortOrder="13">mediaCenter</ContentType>
    <ContentType Key="fc533d1e-94c8-4f78-bb11-8272c52f0f03" SortOrder="14">shopsLandingDocType</ContentType>
    <ContentType Key="cf6ba95e-1120-4ecf-a85d-1f52fb8db427" SortOrder="15">shopCategory</ContentType>
    <ContentType Key="66aa077d-9450-4b91-a831-8a91178f9138" SortOrder="16">dineLandingDocType</ContentType>
    <ContentType Key="bf256b9e-ae02-4b9e-b428-daed292ce922" SortOrder="17">dineCategory</ContentType>
    <ContentType Key="1e779a11-2a1f-45f1-82f7-7592db3e5f13" SortOrder="18">servicesLandingDocType</ContentType>
    <ContentType Key="efeeb591-d0ee-4de7-bd57-4079c351ce49" SortOrder="19">thankYouDocType</ContentType>
    <ContentType Key="bb3690b2-59c1-4b25-b442-b19fcf3c76e6" SortOrder="20">darnaRewardsDocType</ContentType>
    <ContentType Key="657eb9b1-3b16-497f-8ae0-61348219a564" SortOrder="21">errorPageDocType</ContentType>
    <ContentType Key="fbf3d444-724e-4183-a7bc-09a61d7d58d1" SortOrder="22">etihadGuestDocType</ContentType>
    <ContentType Key="112ae86f-a0e8-41a8-97cf-7607445cc564" SortOrder="23">people</ContentType>
    <ContentType Key="22c4dc79-8d76-4a0b-b14a-dbd0106f7200" SortOrder="24">products</ContentType>
    <ContentType Key="40a61b2e-042a-44b8-837c-949aece6b0ad" SortOrder="25">mallRedevInnerPageDocType</ContentType>
    <ContentType Key="f2c48cce-4db1-4756-98f2-93a0d39e8d42" SortOrder="26">mallRedevMainDocType</ContentType>
    <ContentType Key="6ea85365-edc3-4737-b538-25b87f4483f0" SortOrder="27">weShopForYouDoc</ContentType>
    <ContentType Key="f20a06d9-739b-4cd0-8add-1750b4e40773" SortOrder="28">planYourVisitDocType</ContentType>
    <ContentType Key="af27da10-8369-47e5-bb8f-b94b2a52736d" SortOrder="29">OSProductCategory</ContentType>
    <ContentType Key="e669d960-8c69-4598-a6b7-bd1ad511a913" SortOrder="30">greenPassRegDoc</ContentType>
    <ContentType Key="21cd60bf-230d-4558-83c4-4c925c29bec3" SortOrder="31">downloadDineGuide</ContentType>
    <ContentType Key="fcaf2c7a-c58a-48c2-91de-e39d0e16f85d" SortOrder="32">rewardsLandingDocType</ContentType>
    <ContentType Key="3170fe8e-3b84-48f2-b5da-97f65b9c2d95" SortOrder="33">hunaChild</ContentType>
    <ContentType Key="b2d7fd70-ed9f-438f-9b63-ed1481237622" SortOrder="34">hunaLandingPage</ContentType>
    <ContentType Key="60307546-0188-43ed-baab-b0c7151f940d" SortOrder="35">foodDestination</ContentType>
    <ContentType Key="ef378013-317a-4255-982f-741d4fdd8ed6" SortOrder="36">GiftCards</ContentType>
    <ContentType Key="74eb78f2-4483-4c28-a204-f0283ff2a0ac" SortOrder="37">whatsNewSlider</ContentType>
    <ContentType Key="27d19855-6384-49dd-ab40-2ca78019e971" SortOrder="38">RolexDetailPage</ContentType>
    <ContentType Key="e9f7ea0c-3ce5-48c4-b646-7f0ded702b71" SortOrder="39">rolexPage</ContentType>
    <ContentType Key="ab19499f-5e53-4820-ae57-86cf2e937630" SortOrder="40">workLanding</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>71a6a6d8-f031-4b31-b5bc-ba773f000249</Key>
      <Name>Description</Name>
      <Alias>heroDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f536eea-0008-4085-9148-eff67e50072a</Key>
      <Name>Site Logo</Name>
      <Alias>siteLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[.JPEG | .PNG]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09aa8973-4b11-44f7-87a0-8058501f271b</Key>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a website name]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
      <Alias>hero</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>