<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22c4dc79-8d76-4a0b-b14a-dbd0106f7200" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="b4623bc4-5308-40ae-bd9f-6c415719a691">contentBase</Composition>
      <Composition Key="26f9201d-468a-4375-b93c-824c3468eab7">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="43db343a-8353-46ba-a7ca-e8dda85f95b9">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e556354d-518a-42b6-84c9-61ca20365eb6" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1abafaa7-e6f4-4a73-b0ae-89ace91f8c64</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="shop">Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28beef89-23f0-4c7a-a0ec-449e1496d709</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="shop">Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
      <Alias>shop</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>