<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74eb78f2-4483-4c28-a204-f0283ff2a0ac" Alias="whatsNewSlider" Level="1">
  <Info>
    <Name>WhatsNewSlider</Name>
    <Icon>icon-add color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="26f9201d-468a-4375-b93c-824c3468eab7">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="289fcfb6-39dd-4376-a88b-a4adb570ff08" SortOrder="0">whatsNewSliderItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>