/*Colors*/
$white: #fff;
$black: #000;
$darkGray: #333333;
$lightPink: #F2C7C0;
$blue: #4C70B6;
$dblue: #3E5B94;
$heading: #202247;


/*Primary Theme*/

$primaryPink: #EC6758;
$primaryGreen: #7BCAB3;
$primaryGreenHover: #64A894;
$primaryYellow: #FFD400;
$primaryBrown: #B6A171;
$primaryPass: #E5E5E5;

$secondrygrey:#F4F1EA;

/*Fonts*/
$fontRegular: 'Gotham-Book' , sans-serif;
$fontMedium: 'Gotham-Medium' , sans-serif;
$fontBold: 'Gotham-Bold' , sans-serif;
$fontLight: 'Gotham-Light' , sans-serif;

/*Floats*/
$left: left;
$right: right;