.header {
  background-color: $white;
  color: $white;
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 999;

  a {
    color: $black;

    &:active,
    &:focus {
      color: $white;
    }
  }

  .logo-section {
    @include align-self(center);

    @media screen and (max-width: 1300px) {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .logo-holder {
      margin: 0;

      @media screen and (max-width: 1300px) {
        float: left;
        padding: 10px 0;
      }

      @media screen and (max-width: 767px) {
        padding: 5px 0;

        img {
          max-height: 35px;
        }
      }
    }

    .navbar-toggler {
      display: none;

      @media screen and (max-width: 1300px) {
        display: block;
        float: right;
        border: 1px solid $black;
        padding: 10px;
        margin-top: 18px;

        span {
          width: 25px;
          height: 2px;
          display: block;
          margin-bottom: 5px;
          background-color: $black;

          &:last-child {
            margin: 0;
          }
        }
      }

      @media screen and (max-width: 767px) {
        padding: 6px;
        margin-top: 8px;

        span {
          width: 20px;
          margin-bottom: 4px;
        }
      }
    }
  }

  .top-links {
    border-bottom: 1px solid $black;
    padding-bottom: 5px;
    color: #000;

    @media screen and (max-width: 1300px) {
      display: none;
    }
  }

  .bottom-links {
    padding: 15px 0 0;
    position: relative;
    @media screen and (max-width: 767px) {
      padding: 0;
    }

    .search-field {
      position: relative;
      margin-top: 5px;

      @media screen and (max-width: 1300px) {
        display: none;
      }

      @include direction("en") {
        float: $right;
      }

      @include direction("ar") {
        float: $left;
      }

      .form-control {
        background: transparent;
        border: 0;
        padding: 0;
        border-bottom: 1px solid $black;
        border-radius: 0;
        font-size: 0.875rem;
        height: auto;
        padding-bottom: 5px;
        color: $black;
        width: 197px;

        @include direction("en") {
          padding-right: 18px;
        }

        @include direction("ar") {
          padding-left: 18px;
        }

        &::-webkit-input-placeholder {
          color: $black;
        }

        &::-moz-placeholder {
          color: $black;
        }

        &:-ms-input-placeholder {
          color: $black;
        }

        &::-ms-input-placeholder {
          color: $black;
        }

        &::placeholder {
          color: $black;
        }

        &:focus {
          box-shadow: none;
        }
      }

      i {
        position: absolute;
        top: 4px;
        color: $black;

        @include direction("en") {
          right: 0;
        }

        @include direction("ar") {
          left: 0;
          @include rtl-flip();
        }
      }
    }
  }

  .mob-options {
    display: none;

    @media screen and (max-width: 1300px) {
      display: block;
      float: $right;
      margin-top: 28px;

      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        font-size: 15px;
        font-weight: 700;
      }

      .searchbox {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px;
        top: 100%;
        z-index: 5;
        background: $primaryPink;
        border-top: 1px solid #f2c7c0;

        &.open {
          display: block;
        }
      }
    }

    @media screen and (max-width: 767px) {
      margin-top: 11px;
    }
  }
  .search-popup {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 10px;
    background-color: #fff;
    color: #333;
    z-index: 9;
    width: 100%;
    display: none;
    h4 {
      font-size: 18px;
      font-family: "Gotham-Medium";
    }
    ul {
      list-style: none;
      display: block;
      li {
        display: block;
        a {
          display: block;
          padding: 5px 0;
          cursor: pointer;
          font-size: 12px;
          color: #333;
        }
      }
      @media screen and (max-width: 992px) {
        top: 100px;
        width: 100%;
      }
    }
  }

  #SearchMainMobDiv {
    width: 95%;
    left: auto;
    right: auto;
  }
  @media screen and (max-width: 929px) {
    height: auto;
  }
}

.header-links {
  padding-top: 8px;
  position: static;

  @include direction("en") {
    padding-left: 0;
  }

  @include direction("ar") {
    padding-right: 0;
  }

  @media screen and (max-width: 1300px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  @media screen and (max-width: 1300px) {
    border-top: 1px solid #f2c7c0;
    padding: 0 15px 10px !important;
  }

  &.collapse:not(.show) {
    @media screen and (min-width: 1300px) {
      display: block;
    }
  }

  ul {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include align-self(center);

    @media screen and (max-width: 1300px) {
      flex-wrap: wrap;
    }

    .title {
      font-family: $fontMedium;
    }
  }
}

.top-links {
  font-size: 0.75rem;

  ul {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include align-self(center);

    .title {
      font-family: $fontMedium;
    }
  }

  .left-links {
    @include direction("en") {
      float: $left;
    }

    @include direction("ar") {
      float: $right;
    }

    li {
      @include direction("en") {
        margin-right: 8px;
      }

      @include direction("ar") {
        margin-left: 8px;
      }

      &:last-child {
        margin: 0 !important;
      }

      &.title {
        @include direction("en") {
          margin-right: 15px;
        }

        @include direction("ar") {
          margin-left: 15px;
        }
      }
    }
  }

  .right-links {
    @include direction("en") {
      float: $right;
    }

    @include direction("ar") {
      float: $left;
    }

    li {
      font-size: 0.6875rem;

      &.lang {
        font-size: 0.75rem;
      }

      @include direction("en") {
        margin-left: 14px;
      }

      @include direction("ar") {
        margin-right: 14px;
      }

      &:first-child {
        margin: 0 !important;
      }

      span {
        display: inline-block;
        vertical-align: middle;

        @include direction("en") {
          margin-left: 2px;
        }

        @include direction("ar") {
          margin-right: 2px;
        }
      }
    }
  }
}

.main-links {
  font-family: $fontMedium;

  @media screen and (max-width: 1300px) {
    width: 100%;
  }

  @include direction("en") {
    float: $left;
  }

  @include direction("ar") {
    float: $right;
  }

  li {
    @include direction("en") {
      margin-right: 15px;

      @media screen and (max-width: 767px) {
        margin: 0;
      }
    }

    @include direction("ar") {
      margin-left: 15px;

      @media screen and (max-width: 767px) {
        margin: 0;
      }
    }

    @media screen and (max-width: 1300px) {
      width: 100%;
    }

    &:last-child {
      margin: 0 !important;
    }

    .dropdown-toggle {
      &::after {
        vertical-align: middle;
        margin: 0;

        @include direction("en") {
          margin-left: 5px;
        }

        @include direction("ar") {
          margin-right: 5px;
        }
      }
    }

    &.top-main-link {
      padding-bottom: 15px;

      @media screen and (max-width: 1300px) {
        padding-bottom: 0;
      }

      > a {
        padding: 0.375rem 0;
        display: block;
      }

      > .btn {
        padding: 0.375rem 0.75rem;
        display: inline-block;
        min-width: 0;
        &:hover {
          color: $white;
        }
      }

      .category-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 5;
        background-color: $black;
        padding: 25px;
        border-top: 1px solid #f2c7c0;
        border-bottom: 1px solid #f2c7c0;
        display: none;
        margin-top: -1px;

        @media screen and (max-width: 1300px) {
          position: relative;
          padding: 10px;
        }

        .sub-heading {
          font-size: 1.5rem;
          font-family: $fontBold;
          margin: 0;
          padding-bottom: 15px;
          color: $white !important;

          @media screen and (max-width: 1300px) {
            font-size: 1.125rem;
            padding-bottom: 10px;
          }
        }

        ul {
          -moz-columns: 3;
          columns: 3;
          display: block;

          @media screen and (max-width: 1300px) {
            columns: auto;
          }

          li {
            page-break-inside: avoid;
            break-inside: avoid-column;
            padding: 3px 0;
            margin: 0;
            color: #fff;
            font-family: $fontMedium;

            @media screen and (max-width: 767px) {
              font-size: 12px;
              font-family: $fontRegular;
            }

            a {
              letter-spacing: -0.2px;
              color: $white;

              &:hover {
                color: $primaryBrown;
              }
            }
          }
        }

        .buttons {
          padding-top: 15px;
          a {
            background-color: $primaryBrown !important;
          }
        }
      }

      &:hover {
        > a {
          color: $primaryBrown;
        }

        .category-dropdown {
          display: block;
        }
      }
      &.small-dropdown {
        position: relative;
        .category-dropdown {
          width: 200px;
          padding: 15px 25px;
          ul {
            columns: auto;
          }
        }
      }
    }
  }
}
