<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b53231e-f489-4495-b049-1dfb5327e025" Alias="About us - Mobile Banner - File upload (1)" Level="1">
  <Info>
    <Name>About us - Mobile Banner - File upload (1)</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>