<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d79f3bd6-9ade-4e70-a555-900181e87196" Alias="About us - Banner - File upload (1)" Level="1">
  <Info>
    <Name>About us - Banner - File upload (1)</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>