<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f94bd7a-5fc7-4926-afe3-8ca7e21a3e82" Alias="About us - Mobile Banner - File upload" Level="1">
  <Info>
    <Name>About us - Mobile Banner - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>