<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef78f7cd-0861-43f7-96af-aa72d292e365" Alias="Album - Listing Image - File upload" Level="1">
  <Info>
    <Name>Album - Listing Image - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>