<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d765e3ed-d872-49e8-a841-809640379319" Alias="Album - Landing Page Banner - File upload" Level="1">
  <Info>
    <Name>Album - Landing Page Banner - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>