<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e9fbc28-18da-4e41-87b5-49b8e59ee15c" Alias="Album - Mobile Banner - File upload" Level="1">
  <Info>
    <Name>Album - Mobile Banner - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>