<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa66b22a-8b22-40c0-8ed0-9636694fb7e1" Alias="Blog - Banner - File upload" Level="1">
  <Info>
    <Name>Blog - Banner - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>