<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe7af894-855d-456e-b81c-619ceaad7457" Alias="Blog - Banner Mobile - File upload" Level="1">
  <Info>
    <Name>Blog - Banner Mobile - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>