<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b295a04-1a5e-4b17-84d0-aa65ea296d76" Alias="Blog - Home Page Box Image - File upload" Level="1">
  <Info>
    <Name>Blog - Home Page Box Image - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>