<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6e119bf-8383-4867-8716-9ee1f64ebb4d" Alias="Dine Category Multi Content Picker" Level="1">
  <Info>
    <Name>Dine Category Multi Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/5bfcce33ba724ca68e88f67161394433"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 30,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>