<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ced3d45-52d3-4e9a-84a5-8a863c7d6a43" Alias="Gift Cards - Banner (AR) - File upload" Level="1">
  <Info>
    <Name>Gift Cards - Banner (AR) - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>