<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a3bf0ef-bbf7-4aaa-b01b-08f721bed672" Alias="Gift Cards - Mobile Banner (AR) - File upload" Level="1">
  <Info>
    <Name>Gift Cards - Mobile Banner (AR) - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>