<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1589b39-d04d-4a90-a131-eb676337a33b" Alias="Gift Cards - Mobile Banner - File upload" Level="1">
  <Info>
    <Name>Gift Cards - Mobile Banner - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>