<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0751fa5a-a3a8-4cae-9f45-bf34c9be2509" Alias="Gift Cards - Banner - File upload" Level="1">
  <Info>
    <Name>Gift Cards - Banner - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>