<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3c24fe9-c4b3-4c47-8a90-f95ed7b6b1e2" Alias="OS Product Category Multi Content Picker" Level="1">
  <Info>
    <Name>OS Product Category Multi Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/3489beb6852440bd9d8a3ac2dacd545b"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 30,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>