<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4b06969-ae48-41a7-94be-c6f88206f67f" Alias="RP Shop Category Multinode" Level="1">
  <Info>
    <Name>RP Shop Category Multinode</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/2cbfc3c73dce4a2ca956fb13f1351b33"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 30,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>