<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1fd60215-aa31-46c3-82a6-740d74024c5d" Alias="Shop Category Multi Content Picker" Level="1">
  <Info>
    <Name>Shop Category Multi Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/b92e44858d6740aeaa662b0255bc5e2f"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 30,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>